<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="homePage">Welcome to Looloo's Dream Board</p>
    <a href="/goals">Goals</a>
    <br>
    <br>
    <img src="https://i.imgur.com/peAvfI8.jpg" height="250px" alt="" class="image">
  </body>
</html>
