<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit Goal</h1>
  <form action="/todos/<%= goal.id %>?_method=PUT" method="POST" autocomplete="off">
    <input type="text" name="goal" value="<%= goal.goal %>">
    <input name="done" type="checkbox" <%= goal.done ? 'checked' : '' %>>
    <button type="submit">Save Goal</button>
  </form>
</body>
</html>